@charset "UTF-8";

/* 回答はここに書いてね */ 

.q4-in-box {
  padding: 20px;
  box-sizing: border-box;
  background-color: #ecf1f2;
}

.up-box,.down-box {
  display: table;
  background-color: #ecf1f2;
  width: 100%;
  margin-top: 20px;
}

.box:first-child {
  margin-top: 0px;
}

.up-box div,.down-box div {
  padding: 20px;
  text-align: center;
  display: table-cell;
}

.up-left {
  background-color: #fbc8b8;
  width: 100px;
}

.up-middle {
  background-color: #e0abd9;
}

.up-right {
  background-color: #b6d8ed;
  width: 100px;
}

.down-left {
  background-color: #e5d32e;
}

.down-middle {
  background-color: #ec8f9a;
}

.down-right {
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
