@charset "UTF-8";

/* 回答はここに書いてね */ 

.q5-box {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  background-color: #ecf1f2;
}

.q5-box div {
  position: absolute;
  text-align: center;
  width: 100px;
  line-height: 100px;
}

.in-box1 {
  top: 40px;
  left: 200px;
  background-color: #efefd3;
  z-index: 1;
}

.in-box2 {
  top: 120px;
  right: 120px;
  background-color: #7083de;
  z-index: 2;
}

.in-box3 {
  top: 200px;
  right: 40px;
  background-color: #d0ecea;
  z-index: 3;
}

.in-box4 {
  bottom: 120px;
  right: 120px;
  background-color: #8b7a5e;
  z-index: 4;
}

.in-box5 {
  bottom: 40px;
  left: 200px;
  background-color: #9fd6d2;
  z-index: 5;
}

.in-box6 {
  bottom: 120px;
  left: 120px;
  background-color: #fffee4;
  z-index: 6;
}

.in-box7 {
  top: 200px;
  left: 40px;
  background-color: #deae70;
  z-index: 7;
}

.in-box8 {
  top: 120px;
  left: 120px;
  background-color: #de70cf;
  z-index: 8;
}

.in-box8::before {
  display: block;
  content: "";
  position: absolute;
  left: 80px;
  width: 20px;
  height: 20px;
  background-color: #efefd3;
}

.in-box9 {
  top: 10px;
  left: 10px;
  position: fixed;
  background-color: #2b69a3;
  z-index: 10;
  text-align: center;
  width: 100px;
  line-height: 100px;
}

/* 回答はここに書いてね */
